.mainDiv {
  display: flex;
  flex-direction: column;
  position: inherit;
  align-items: left;
  text-align: left;
}

.mainDiv h1 {
  color: #0dccdc;
  font-size: 1.4vw;
  width: 70%;
}

.emptyCart {
  height: 90vh;
  display: flex;
  text-align: center;
  margin-top: 300px;
}

.cartForm {
  border: 1px solid #ccc;
  border-radius: 20px;
  /* box-shadow: 0px 5px 10px #0dccdc; */
  margin: 20px;
  width: 97%;
}

.text1 {
  font-size: 1.3vw;
  margin: 0 auto;
  text-align: center;
  width: 60%;
}

.theimage {
  width: 20%;
  height: 40%;
  float: left;
  margin: auto;
  padding: 5px 5px 5px 5px;
  /* border: 1px solid #ccc;
  border-radius: 20px;
  box-shadow: 0px 5px 10px #0dccdc; */
}
.quantityBar {
  width: 20%;
  height: 20%;
  float: right;
  text-align: center;
  margin: 0 auto;
  padding: 10px 10px 1px 10px;
  /* border: 1px solid #ccc;
  border-radius: 20px;
  box-shadow: 0px 5px 10px #0dccdc; */
}

.text1 h1 {
  padding-left: 50px;
  /* border: 1px solid #ccc;
  border-radius: 20px;
  box-shadow: 0px 5px 10px #0dccdc; */
}

.text1 h4 {
  color: black;
  text-align: center;
  font-size: 1.4vw;
  width: 70%;
  margin: 15px;
}

.text1 h3 {
  color: black;
  font-size: 1.2vw;
  font-weight: normal;
  width: 70%;
  text-align: center;
  margin: 15px;
}

.upperForm {
  display: flex;
  flex-direction: row;
  width: 97%;
  height: 100%;
  object-fit: cover;
  margin: auto;
  padding: 5px 5px 5px 5px;
}

.label {
  color: #0dccdc;
}

.button2 {
  background-color: #0dccdc;
  background-image: linear-gradient(#0dccdc);
  border: 1px solid #0dccdc;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.12) 0 1px 1px;
  color: #ffffff;
  cursor: pointer;
  display: block;
  font-family: -apple-system, ".SFNSDisplay-Regular", "Helvetica Neue",
    Helvetica, Arial, sans-serif;
  font-size: 17px;
  line-height: 100%;
  margin: 0;
  outline: 0;
  padding: 11px 15px 12px 10px;
  text-align: center;
  transition: box-shadow 0.05s ease-in-out, opacity 0.05s ease-in-out;
  user-select: none;
  touch-action: manipulation;
  width: 97%;
}

.button2:hover {
  box-shadow: rgba(255, 255, 255, 0.3) 0 0 2px inset,
    rgba(0, 0, 0, 0.4) 0 1px 2px;
  text-decoration: none;
  transition-duration: 0.15s, 0.15s;
}

.button2:active {
  box-shadow: rgba(0, 0, 0, 0.15) 0 2px 4px inset, rgba(0, 0, 0, 0.4) 0 1px 1px;
}

.button2:disabled {
  cursor: not-allowed;
  opacity: 0.6;
}

.button2:disabled:active {
  pointer-events: none;
}

.button2:disabled:hover {
  box-shadow: none;
}
