.singleListing {
  display: inline-flex;
  color: #1597ca;
  position: inherit;
  align-items: right;
  justify-content: center;
  
}


.pic1 {
 
  max-width: 100%;
  max-height: 100%;
  display: block;
  object-fit: cover;
  margin: 0px;
  margin-top: 30px;
}

.input {
  margin-left: 5px;
  width: 100%;
}


.namepic {
  display: flex;
  color: #1597ca;
  justify-content: center;
  margin: 15px;
  max-width: 100%;
  max-height: 100%;
  display: block;
  object-fit: cover;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 8px;
  justify-content: right;
  width: 100%;
  padding: 0 20px;
  margin-right: 35px;
  margin-bottom: 10px;
}

.singleReview {
  display: flex;
  flex-direction: column;
  text-align: left;
  justify-content: left;
  margin: 15px;
  padding: 0 20px;
  border: 1px dotted black;
  width: 100%;
  font-weight: bold;
}


.newReviewForm {
  display: flex;
  flex-direction: column;
  height: 50vh;
  margin: 15px;
}

.button5 {
  background-color: #1597ca;
  background-image: linear-gradient(#1597ca);
  border: 1px solid #1597ca;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.12) 0 1px 1px;
  color: #ffffff;
  cursor: pointer;
  /* display: block; */
  font-family: -apple-system, ".SFNSDisplay-Regular", "Helvetica Neue",
    Helvetica, Arial, sans-serif;
  font-size: 17px;
  /* line-height: 100%; */
  /* margin: 0; */
  outline: 0;
  padding: 11px 15px 12px;
  text-align: center;
  transition: box-shadow 0.05s ease-in-out, opacity 0.05s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
  
  
}

.button5:hover {
  box-shadow: rgba(255, 255, 255, 0.3) 0 0 2px inset,
    rgba(0, 0, 0, 0.4) 0 1px 2px;
  text-decoration: none;
  transition-duration: 0.15s, 0.15s;
}

.button5:active {
  box-shadow: rgba(0, 0, 0, 0.15) 0 2px 4px inset, rgba(0, 0, 0, 0.4) 0 1px 1px;
}

.button5:disabled {
  cursor: not-allowed;
  opacity: 0.6;
}

.button5:disabled:active {
  pointer-events: none;
}

.button5:disabled:hover {
  box-shadow: none;
}


.singleListing h1 {
  color: #1597ca;
  font-size: 30px;
  margin-left: 0;
  display: flex;
  align-items: flex-start;
  margin-bottom:0;
}


.listingdetails .price {
  font-size: 18px;
  font-weight: bold;
}

.listingdetails h2{
  text-align: left;
  text-transform: capitalize;
  font-weight: normal;
  font-size: 15px;
  margin-left: 16px;
  margin-top: 10px;
}



.adminEditbutton {
  display: flex;
  flex-direction: column;
  margin-top:0;
}

.adminEditbutton button {
  background-color: #1597ca;
  border-radius: 10px;
  border: 4px double #cccccc;
  color: #ffffff;
  transition: all 0.5s;
  cursor: pointer; 
  background-color: #1597ca;
  background-image: linear-gradient(#1597ca);
  border: 1px solid #1597ca;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.12) 0 1px 1px;
  color: #ffffff;
  cursor: pointer;
  display: block;
  font-family: -apple-system, ".SFNSDisplay-Regular", "Helvetica Neue",
    Helvetica, Arial, sans-serif;
  font-size: 17px;
  line-height: 100%;
  outline: 0;
  padding: 11px 15px 12px;
  text-align: center;
  transition: box-shadow 0.05s ease-in-out, opacity 0.05s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;

}

h4 {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 20px;
}


.updateListingForm {
  width: 700px;
  margin-bottom: 20px;
  display: flex;
  padding: 10px;
}


.listingSubmit {
  width: 25%;
}