.Card{
  margin-top: 100px;
  width: 55%;
  border-radius: 15px;
  margin-bottom: 30px;
  margin-left: 320px;
  background-color: #f9f9f9;
  box-shadow: 0px 0px 10px #ccc;
  padding: 20px;

}


 li, li3 {
  font-family: 'Solitreo', cursive;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  margin-top: 10px;
  color: rgb(255, 255, 255);
  font-style: oblique;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 10px;
}

.perfectPillow {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #3fa3be;
  list-style: none;

}

li2 {
  margin-bottom: 10px;
  margin-top: 10px;
  font-size: 16px;
  text-align: center;
  color: rgb(15, 117, 151);
  font-weight: bold;

}

.Visco {
  display: flex;
  align-items: center;
  background-color: rgba(120, 120, 120, 0.782);
  padding: 20px;
}

.Polyester {
  display: flex;
  align-items: center;
  background-color: #3fa3be;
  padding: 20px;
}
.Down {
  display: flex;
  align-items: center;
  background-color: rgba(120, 120, 120, 0.782);
  padding: 20px;
}

.Gel {
  display: flex;
  align-items: center;
  background-color: #3fa3be;
  padding: 20px;
}

.Latex {
  display: flex;
  align-items: center;
  background-color: rgba(120, 120, 120, 0.782);
  padding: 20px;
}

.pillowIMG {
  width: 150px;
  height: 150px;
  margin-right: 20px;
  border-radius: 50%;
   box-shadow: 0px 0px 10px #ccc;
  object-fit: cover;
  border: 4px solid #333
}
.parent {
  display: flex;
  flex-direction: column;
}

li5 {
  font-family: 'Solitreo', cursive;

font-size: 21px;
  font-weight: bold;
  margin-bottom: 10px;
  color: rgb(15, 117, 151);

}

li6 {
font-size: 13px;
  margin-left: 10px;
  color: white;
}


h2 {
  font-size: 1.5em;
  margin-bottom: 20px;
  color: #333;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-left: 590px;
  margin-top: 75px;

}

li9 {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px #ccc;
}

b1 {
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
  color: rgb(0, 0, 0);
}

ul{
  width: 75%;
margin-left: 195px;

}
