.mainpage1 {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.userProfile {
  display: flex;
  flex-direction: column;
  padding-top: 50px;
}

.profile1 {
  width: 100%;
}

.navbar1 {
  width: 30%;
}

.AllUsersMain {
  width: 100%;
  text-align: left;
}

.AllUsersMain h1 {
  width: 70%;
  text-align: center;
  padding: 0;
}

.FormMain {
  width: 90%;
}

.FormMain h2 {
  text-align: center;
  font-size: 1.4vw;
}

.newListingForm {
  width: 100%;
}
.SingleUserInfo {
  width: 70%;
  margin-top: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
}
.AllUsers h2 {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.order {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 70px;
}

.orderimg {
  width: 50%;
  height: 89%;
  float: left;
  margin-top: 25px;
  padding: 5px 5px 5px 5px;
}

.listings {
  display: flex;
  flex-direction: row;
  width: 90%;
  height: 50%;
  margin: 0;
  border: 1px solid #ccc;
  border-radius: 20px;
  /* box-shadow: 0px 5px 10px #0dccdc; */
}

.listingtext {
  margin-top: 30px;
  width: 80%;
}

.listings h2 {
  text-align: center;
}

.button1 {
  background-color: #0dccdc;
  background-image: linear-gradient(#0dccdc);
  border: 1px solid white;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.12) 0 1px 1px;
  color: black;
  cursor: pointer;
  display: block;
  font-family: -apple-system, ".SFNSDisplay-Regular", "Helvetica Neue",
    Helvetica, Arial, sans-serif;
  font-size: 21px;
  line-height: 100%;
  margin: 50px;
  outline: 0;
  padding: 11px 15px 12px 10px;
  text-align: center;
  transition: box-shadow 0.05s ease-in-out, opacity 0.05s ease-in-out;
  user-select: none;
  touch-action: manipulation;
  width: 80%;
}

.button1:hover {
  box-shadow: rgba(255, 255, 255, 0.3) 0 0 2px inset,
    rgba(0, 0, 0, 0.4) 0 1px 2px;
  text-decoration: none;
  transition-duration: 0.15s, 0.15s;
}

.button1:active {
  box-shadow: rgba(0, 0, 0, 0.15) 0 2px 4px inset, rgba(0, 0, 0, 0.4) 0 1px 1px;
}

.button1:disabled {
  cursor: not-allowed;
  opacity: 0.6;
}

.button1:disabled:active {
  pointer-events: none;
}

.button1:disabled:hover {
  box-shadow: none;
}
